{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3> <strong> Learning </strong> is passion, and we learn everyday. </h3>
        <h4>I always like to set myself as an example to...</h4>
        <ul>
        <li>Give you motivation.</li>
        <li>Make you understand that there's value in learning.</li>
        <li>That Education is the key.</li>
        <li>Motivate you to make yourself a valuable person.</li>
        </ul>
        <p>I'm like those crazy scientists who test||run their theories on themselves </p>
        <p>#WhyIDoWhatIdo</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
